# Editors
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.venv/
venv/

# ROS 2 build artifacts
build/
install/
log/

# C++ / CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.o
*.a
*.so

